name: Benchmarks
on:
  pull_request:
    branches: [ "main" ]

jobs:
  bench:
    name: Run Benchmarks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Show Rust Toolchain
        run: rustup show
      - name: Run cova-algebra Benchmarks
        run: cargo bench -p cova-algebra
      - name: Run cova-space Benchmarks
        run: cargo bench -p cova-space
